.header-title {
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 800;
	font-size: 32px;
	line-height: 1.5;
}

.product {
	display: flex;
	gap: 100px;
	margin-top: 23px;
	margin-bottom: 40px;
}

.product-title {
	margin-bottom: 20px;
	font-weight: 800;
	font-size: 24px;
	line-height: 28px;
}

.product-img-wrapper {
	flex: 1 1;
}

.product-desc {
	flex-shrink: 0;
	max-width: 400px;
}

.product-btn-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	margin-bottom: 24px;
}

.product-cart {
	flex: 1 1;
	padding: 14px 70px;
}

.product-left {
	height: 48px;
	background-color: #ffffff;
	border: 1px solid #cfd8dc;
	border-radius: 100px;
}

.product-plus,
.product-minus {
	width: 40px;
	height: 100%;
	font-size: 24px;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.product-num {
	display: inline-block;
	width: 30px;
	font-weight: 700;
	font-size: 21px;
	line-height: 24px;
	text-align: center;
}

.product-delivery {
	display: flex;
	align-items: flex-start;
	padding: 12px;
	background-color: rgb(236 239 241 / 60%);
	border-radius: 12px;
}

.product-delivery:not(.delivery:last-child) {
	margin-bottom: 8px;
}

.product-right {
	margin-left: 12px;
}

.product-name {
	margin-top: 0;
	margin-bottom: 8px;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

.product-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.product-text:not(.text:last-child) {
	margin-bottom: 8px;
}

.product-bold {
	font-weight: 700;
}

.product-subtitle {
	margin-bottom: 40px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.product-grid {
	display: grid;
	grid-template-columns: 1fr 5fr;
	row-gap: 20px;
	margin-bottom: 40px;
}

.product-naming {
	color: #7b8e98;
	font-size: 16px;
	line-height: 20px;
}

.product-description {
	font-size: 16px;
	line-height: 20px;
}

.product-description p {
	margin-bottom: 12px;
}

.product-box {
	display: flex;
	flex-direction: column;
}

.product-favorite {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
	background-color: transparent;
	border: none;
}

.product-favorite svg {
	fill: #ffffff;
}

.product-favorite svg path:first-child {
	fill: #7b8e98;
}

.product-favorite_active svg {
	fill: #f44336;
}

.product-favorite_active svg path:first-child {
	fill: #f44336;
}

.product-reviews {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media (width <= 1000px) {
	.product-product {
		gap: 20px;
	}
}

@media (width <= 768px) {
	.product-product {
		flex-direction: column;
	}

	.product-desc {
		width: 100% !important;
		max-width: initial;
	}

	.product-grid {
		column-gap: 10px;
	}
}

@media (width <= 400px) {
	.product-cart {
		padding: 14px 20px;
	}
}

.price-wrap {
	position: relative;
	max-width: 200px;
	padding-top: 1.2em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.price {
	display: block;
	font-weight: 800;
	font-size: 1.75em;
	line-height: 1.14;
}

.price_old {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	font-weight: 600;
	font-size: 0.88em;
	line-height: 1.42;
	text-decoration: line-through;
}

.price_discount {
	color: #f44336;
}

.price-big {
	font-size: 16px;
}

.price-small {
	font-size: 14px;
}

.price_left {
	right: auto;
	left: 0;
}

.price_right {
	right: 0;
	left: auto;
}

.button-count {
	display: inline-flex;
	align-items: center;
	height: 48px;
	background-color: #ffffff;
	border: 1px solid #cfd8dc;
	border-radius: 100px;
}

.button-count-plus,
.button-count-minus {
	width: 40px;
	height: 100%;
	padding: 0;
	font-size: 24px;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.button-count-num {
	display: inline-block;
	width: 30px;
	padding: 0;
	font-weight: 700;
	font-size: 21px;
	line-height: 24px;
	text-align: center;
	border: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
	appearance: textfield;
	appearance: none;
}

.button_type_primary {
	background-color: #ffe44d;
}

.button_type_primary:hover {
	color: #f44336;
	background-color: #ffaa0d;
}

.button {
	display: inline-flex;
	align-items: center;
	padding: 10px 18px;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	column-gap: 8px;
	border: 2px solid transparent;
	border-radius: 55px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.review {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eceff1;
}

.review:last-child {
	border-bottom: none;
}

.review-name {
	color: #1a1a1a;
	font-weight: 800;
	font-size: 20px;
	font-style: normal;
	line-height: 24px;
}

.review-date {
	color: #7b8e98;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.review-city {
	color: #7b8e98;
	font-weight: 400;
	font-size: 12px;
	font-style: normal;
	line-height: 14px;
}

.review-text {
	margin-top: 8px;
	margin-bottom: 0;
	color: #1a1a1a;
	font-weight: 400;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
}

.review-header {
	display: flex;
	align-items: flex-end;
	gap: 8px;
}

.form {
	align-items: flex-start;
}

.maxContent {
	width: max-content;
}

.form-row {
	display: flex;
	gap: 12px;
	width: 100%;
}

.form-row_min {
	display: flex;
	gap: 12px;
	width: 50%;
}

.form-label {
	flex: 1 1;
}

.input {
	position: static;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	margin: 8px 0;
	padding: 7px 16px;
	background: #ffffff;
	border: 1px solid #cfd8dc;
	border-radius: 12px;
}

input:focus {
	border-color: #ffe44d;
	outline: none;
}

.textarea {
	height: auto;
	min-height: 100px;
	resize: none;
}

.form-btn {
	position: static;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 356px;
	margin: 8px 0;
	padding: 14px 24px;
	color: #1a1a1a;
	font-weight: 700;
	font-size: 16px;
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-style: normal;
	line-height: 20px;
	border-radius: 55px;
	cursor: pointer;
}

.form-btn.pramary {
	background: #ffe44d;
	border: none;
}

.form-btn.secondary {
	background: white;
	border: 0.5px solid #cfd8dc;
}

.form-btn.maxContent {
	width: max-content;
}
