.card-favorite {
	display: flex;
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;
}

.card-favorite svg {
	fill: #ffffff;
}

.card-favorite svg path:first-child {
	fill: #7b8e98;
}

.card-favorite_is-active svg {
	fill: #f44336;
}

.card-favorite_is-active svg path:first-child {
	fill: #f44336;
}
