.search {
	position: relative;
	display: flex;
	flex: 1 1;
	align-items: center;
}

.search-input {
	width: 100%;
	padding: 13px 60px 13px 20px;
	color: #000000;
	font-size: 16px;
	line-height: 20px;
	border: 1px solid transparent;
	border-radius: 24px;
	outline: none;
	caret-color: #feba0c;
}

.search-input:focus {
	background: #ffffff;
	border: 1px solid #fed700;
}

.search-input::placeholder {
	color: #7b8e98;
}

.search-btn {
	position: absolute;
	right: 20px;
	display: flex;
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.search-btn svg {
	fill: #7b8e98;
}

.search-btn_disabled svg {
	fill: #cfd8dc;
}

.search-btn:focus svg {
	fill: #feba0c;
}

.search-btn:hover svg {
	fill: #feba0c;
}

@media (width <= 350px) {
	.search-input {
		max-width: 400px;
	}
}
